<h1>Récompenses</h1>

<table class="w3-table w3-bordered w3-striped w3-border w3-card-4">
  <tbody>
    <tr>
      <td>MVP de la saison</td>
      <td>{{user.pronostic.rewards.mvpSaison.prenom}} {{user.pronostic.rewards.mvpSaison.nom}}</td>
    </tr>
    <tr>
      <td>MVP (Joker medical)</td>
      <td></td>
    </tr>
    <tr>
      <td>Rookie Of The Year</td>
      <td></td>
    </tr>
    <tr>
      <td>ROY (Joker médical)</td>
      <td></td>
    </tr>
    <tr>
      <td>Défenseur de l'année</td>
      <td></td>
    </tr>
    <tr>
      <td>Meilleur marqueur NBA</td>
      <td></td>
    </tr>
    <tr>
      <td>Meilleur passeur NBA</td>
      <td></td>
    </tr>
    <tr>
      <td>Meilleur rebondeur NBA</td>
      <td></td>
    </tr>
    <tr>
      <td>Coach de l'année</td>
      <td></td>
    </tr>
    <tr>
      <td>Equipe championne de la NBA</td>
      <td></td>
    </tr>
    <tr>
      <td>Meilleur contreur de l'année</td>
      <td></td>
    </tr>
    <tr>
      <td>Meilleur intercepteur de l'année</td>
      <td></td>
    </tr>
    <tr>
      <td>Meilleur sixième homme de l'année</td>
      <td></td>
    </tr>
    <tr>
      <td>Meilleure progression de l'année</td>
      <td></td>
    </tr>
    <tr>
      <td>Meilleure attaque de la ligue</td>
      <td></td>
    </tr>
    <tr>
      <td>Meilleure défense de la ligue</td>
      <td></td>
    </tr>
    <tr>
      <td>Meilleur Bilan de la saison régulière</td>
      <td></td>
    </tr>
    <tr>
      <td>Pire Bilan de la saison régulière</td>
      <td></td>
    </tr>
    <tr>
      <td>Plus gros score offensif d'un joueur (nombre de points exact)</td>
      <td></td>
    </tr>
    <tr>
      <td>Joueur qui marque le plus de point en 1 match</td>
      <td></td>
    </tr>
    <tr>
      <td>Joueur avec le plus de fautes techniques</td>
      <td></td>
    </tr>
  </tbody>
</table>

<hr>

<button (click)="onEditRewards()" class="w3-button w3-teal">Modifier</button>