<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-theme-d2 w3-left-align">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
    <a routerLink="accueil" routerLinkActive="active" class="w3-bar-item w3-button w3-padding-large"><i class="fa fa-home w3-margin-right"></i>La Flibuste</a>
    <!-- <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="News"><i class="fa fa-globe"></i></a>
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Account Settings"><i class="fa fa-user"></i></a>
    <a href="#" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Messages"><i class="fa fa-envelope"></i></a> -->
    <a (click)="onSignOut()" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white w3-right" *ngIf="isAuth">Déconnexion</a>
    <a routerLink="profil" routerLinkActive="active" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white w3-right" *ngIf="isAuth"><i class="fa fa-user"></i> Mon profil</a>
    <!-- <a routerLink="players" routerLinkActive="active" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" *ngIf="isAuth">Joueur NBA</a> -->
    <a routerLink="auth/signin" routerLinkActive="active" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" *ngIf="!isAuth">Connexion</a>
    <a routerLink="auth/signup" routerLinkActive="active" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" *ngIf="!isAuth">Créer un compte</a>
    <!-- <div class="w3-dropdown-hover w3-hide-small">
      <button class="w3-button w3-padding-large" title="Notifications"><i class="fa fa-bell"></i><span class="w3-badge w3-right w3-small w3-green">3</span></button>
      <div class="w3-dropdown-content w3-card-4 w3-bar-block" style="width:300px">
        <a href="#" class="w3-bar-item w3-button">One new friend request</a>
        <a href="#" class="w3-bar-item w3-button">John Doe posted on your wall</a>
        <a href="#" class="w3-bar-item w3-button">Jane likes your post</a>
      </div>
    </div> -->
    <!-- <a href="#" class="w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-white" title="My Account">
    <img src="/w3images/avatar2.png" class="w3-circle" style="height:23px;width:23px" alt="Avatar">
  </a> -->
  </div>
</div>

<!-- Navbar on small screens -->
<div id="navDemo" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium w3-large">
  <a routerLink="accueil" routerLinkActive="active" class="w3-bar-item w3-button w3-padding-large">Accueil</a>
  <a routerLink="profil" routerLinkActive="active" class="w3-bar-item w3-button w3-padding-large" *ngIf="isAuth">Mon profil</a>
  <a routerLink="auth/signin" routerLinkActive="active" class="w3-bar-item w3-button w3-padding-large" *ngIf="!isAuth">Connexion</a>
  <a routerLink="auth/signup" routerLinkActive="active" class="w3-bar-item w3-button w3-padding-large" *ngIf="!isAuth">Créer un compte</a>
  <a (click)="onSignOut()" class="w3-bar-item w3-button w3-padding-large" *ngIf="isAuth">Déconnexion</a>
  <app-liens></app-liens>
</div>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-teal w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
  <div class="w3-container w3-row" *ngIf="isAuth">
    <div class="w3-col s4">
      <img src="{{user.photo_profil}}" class="w3-circle w3-margin-right" style="width:86px">
    </div>
    <div class="w3-col s8 w3-bar">
      <span>Welcome, <strong>{{user.prenom}}</strong></span><br>
      <span>Classement: <strong>{{user.classement}}</strong></span><br>
    </div>
  </div>
  <hr>
  <app-liens></app-liens>
  <!-- <div class="w3-bar-block">
    <a href="#" class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black" onclick="w3_close()" title="close menu"><i class="fa fa-remove fa-fw"></i>  Close Menu</a>
    <a routerLink="accueil" routerLinkActive="active" class="w3-bar-item w3-button w3-padding" *ngIf="isAuth">Accueil</a>
    <a routerLink="profil" routerLinkActive="active" class="w3-bar-item w3-button w3-padding" *ngIf="isAuth">Mon profil</a>
    <a routerLink="players" routerLinkActive="active" class="w3-bar-item w3-button w3-padding" *ngIf="isAuth">Joueur NBA</a>
    <a routerLink="auth/signin" routerLinkActive="active" class="w3-bar-item w3-button w3-padding" *ngIf="!isAuth">Connexion</a>
    <a routerLink="auth/signup" routerLinkActive="active" class="w3-bar-item w3-button w3-padding" *ngIf="!isAuth">Créer un compte</a>
    <a (click)="onSignOut()" class="w3-bar-item w3-button w3-padding" style="cursor: pointer" *ngIf="isAuth">Déconnexion</a>
  </div> -->
</nav>