<h1>Meet the flib</h1>

<div class="w3-row-padding">
  <div *ngFor="let utilisateur of utilisateurs" class="w3-quarter w3-margin-bottom">
    <div class="w3-card-4">
      <header class="w3-container w3-light-grey">
        <h3>{{ utilisateur.prenom }} {{ utilisateur.nom }}</h3>
      </header>
      <div class="w3-container">
        <img src="{{utilisateur.photo_profil}}" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
        <p>CEO at Mighty Schools. Marketing and Advertising. Seeking a new job and new opportunities.</p><br>
      </div>
      <button (click)="onProfilUtilisateur(utilisateur.uid)" class="w3-button w3-block w3-dark-grey">+ Infos</button>
    </div>
  </div>
</div>