<h1>Modifier les informations du profil</h1>

<div class="w3-container w3-half w3-margin-top">

  <form class="w3-container w3-card-4" [formGroup]="editProfileForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="prenom">Prénom</label>
      <input class="w3-input" type="text" id="prenom" class="form-control" formControlName="prenom" />
    </div>
    <div class="form-group">
      <label for="nom">Nom</label>
      <input type="text" id="nom" class="form-control" formControlName="nom" />
    </div>
    <div class="form-group">
      <label for="logo">Logo</label>
      <input type="text" id="logo" class="form-control" formControlName="logo" />
    </div>
    <div class="form-group">
      <label for="bio">Bio</label>
      <textarea type="text" id="bio" class="form-control" formControlName="bio"></textarea>
    </div>
    <button class="w3-button w3-section w3-teal w3-ripple" type="submit" [disabled]="editProfileForm.invalid">
      Modifier
    </button>

  </form>

  <p class="text-danger">{{ errorMessage }}</p>

</div>