<h1>Code de la Flibusterie </h1>

<h2 id="article1">Article 1 : Préambule</h2>

<p>Le présent document est arrêté par la Direction Générale de La Flibuste composée d’Alan, Antoine, François et Sylvain. <br>Il précise les différentes modalités des pronostics ainsi que le règlement. Il peut être modifié par décision de la Direction Générale.</p>

<h2 id="article2">Article 2 : Fonctionnement global</h2>
<p>Voici les instructions détaillées pour remplir parfaitement vos paris sur le fichier global :</p>
<ul>
  <li>Le premier onglet <b>‘Classements conférences’</b> concerne le classement des équipes par conférence. <br>Instruction : vous avez juste à copier/coller le nom des équipes (qui se trouvent en colonnes A et F) en colonnes D et I.
    <br>Le comptage des points se fera comme l’an dernier : à chaque écart d’une place d’une équipe, vous avez 5 points de pénalités. <br> <u>Exemple :</u> si les Seattle Supersonics finissent 9ème alors que vous les avez classés en 3ème position, vous
    aurez 6x5pts = 30pts de pénalité.
  </li><br>
  <li>L’onglet <b>‘Récompenses’</b> concerne les quelques récompenses NBA et des questions subsidiaires. Les points que rapportent chaque question sont précisés à côté. Vous avez la possibilité de choisir un joker médical pour les 2 récompenses MVP et ROY.
    Ce joker médical fonctionne uniquement en cas de blessure longue de votre 1er choix, et seulement si la blessure a lieu avant le 15 décembre 2021 (votre 1er choix ne doit pas revenir avant la fin de saison régulière).<br>PS : la dernière question
    concerne bien qui sera champion NBA à l’issue des Playoffs.
  </li><br>
  <li>L'onglet <b>'15 Games'</b> concerne 15 matchs que nous avons sélectionné et qui auront lieu tout au long du début de saison jusqu’au All Star Game. 3 pts par match A REMPLIR TOUT DE SUITE.</li><br>
  <li>- L’onglet ‘Christmas day’ concerne la journée du 25 décembre qui est spéciale en NBA avec des affiches de ouf et des équipes qui jouent vraiment ce match à fond. Les points que rapportent chaque match sont précisés à côté. A REMPLIR TOUT DE SUITE avec
    possibilité de changer jusqu’au 23 Décembre 20H
  </li><br>
  <li>L’onglet <b>‘MLK day’</b> concerne la journée du 17 janvier en hommage au pasteur Martin Luther king. Un vrai marathon de basket,12 matchs sont joués ce jour-là. 3 pts par match. A REMPLIR TOUT DE SUITE avec possibilité de changer jusqu’au 16 janvier
    22H.
  </li><br>
  <li>Dans l’onglet <b>‘All Star Game’</b>, vous devinez dès aujourd’hui quels seront les 10 titulaires. Même si les équipes sont mélangées entre conférence, les votes désignent bien 5 joueurs de l’Est et 5 joueurs de l’Ouest Les pronostics pour les différents
    évènements durant le All Star Week-End seront à remplir courant février. Nous vous relancerons à ce moment-là. Les points que rapportent chaque question est précisé à côté. A REMPLIR DE SUITE</li><br>
  <li>L’onglet <b>‘Road to Playoffs’</b> fonctionne sur le même principe que les «15 GAMES». Les dernières semaines précédant les playoffs, nous allons sélectionner 12 affiches excitantes pour les premières places ou dans la course aux playoffs (2 ou 3 par
    semaine). 3 pts par match. A REMPLIR PLUS TARD</li><br>
  <li>L’onglet <b>‘Play in’</b> consiste à pronostiquer les 4 derniers accédants aux Playoffs.3 pts par équipe. A REMPLIR PLUS TARD</li><br>
  <li>L’onglet <b>‘Playoffs’</b> consiste à compléter le bracket au mois d’Avril, juste avant les playoffs. Chaque tour passé par une équipe rapporte <b>10 pts</b>, le vainqueur des Finals <b>20 pts</b>. On vous donnera le tableau précis à la fin de la saison
    régulière. Ensuite, au moment des Finals (en Juin), il faudra pronostiquer le MVP et le score exact de la série (10 pts chacun). A REMPLIR PLUS TARD</li><br>
</ul>
<p>
  Nous faisons en sorte que la répartition se fasse comme suit : 1/3 des points attribués sur les classements de saison régulière, 1/3 sur les récompenses individuelles, 15 Games, X-mas day, ASG, MLK, RTP et enfin 1/3 sur les Playoffs.

  <br><br><b>IMPORTANT</b> : Pour tous les résultats, nous prendrons en compte les classements et statistiques du site officiel de la NBA.
</p>

<h2 id="article3">Article 3 : Règlement et Pénalités</h2>

<p>La ponctualité pour la rétribution des pronostics est primordiale afin de conserver l’équité entre les participants.<br> Les retards constatés entraîneront des pénalités listées comme suit :
</p>
<ul>
  <li>Moins 5 pts par jour de retard pour le fichier global</li>
  <li>Moins 10 pts par série démarrée pour les Playoffs</li>
  <li>Moins 3 pts par jour de retard pour Road to the Playoffs</li>
  <li>Aucun point attribué si retard pour le All Star Game et Play-In</li>
</ul>

<p>En outre tout manque de respect avéré envers le club du PPS Séné et ses membres entraînera de lourdes sanctions allant du retrait de points jusqu’à l’exclusion temporaire ou définitive.</p>