<h1>Mes pronostics</h1>

<h2>Saison régulière</h2>

<div class="w3-row">

  <div class="w3-half w3-container">
    <br>
    <div class="w3-card-4 w3-container">

      <br>

      <div class="w3-container west-conference">
        <h2>Conférence West</h2>
      </div>

      <br><br>

      <table *ngIf="user.pronostic" class="w3-table w3-bordered w3-striped w3-border">
        <tbody>
          <tr *ngFor="let team of user.pronostic.classement_SR_west; let i = index">
            <td>{{i+1}}</td>
            <td>{{team}}</td>
          </tr>
        </tbody>
      </table>

      <br>

    </div>
  </div>

  <div class="w3-half w3-container">
    <br>
    <div class="w3-card-4  w3-container">

      <br>

      <div class="w3-container east-conference">
        <h2>Conférence East</h2>
      </div>

      <br><br>

      <table *ngIf="user.pronostic" class="w3-table w3-bordered w3-striped w3-border">
        <tbody>
          <tr *ngFor="let team of user.pronostic.classement_SR_east; let i = index">
            <td>{{i+1}}</td>
            <td>{{team}}</td>
          </tr>
        </tbody>
      </table>

      <br>

    </div>
  </div>
</div>

<hr>

<button (click)="onEditRegularSeason()" class="w3-button w3-teal">Modifier</button>