<div class="w3-container">
  <!-- <h2>Classement</h2> -->
  <table class="w3-table w3-bordered w3-striped w3-border test w3-hoverable w3-card-4">
    <tbody>
      <tr class="table-header">
        <th>Flibustier</th>
        <th>Points</th>
      </tr>
    </tbody>
    <tbody>
      <tr *ngFor="let utilisateur of utilisateurs; let i = index" style="cursor:pointer" (click)="onProfilUtilisateur(utilisateur.uid)">
        <td>{{ utilisateur.prenom }}</td>
        <td>{{ utilisateur.points }}</td>
      </tr>
      <tr>
        <td>James</td>
        <td>0</td>
      </tr>
      <tr>
        <td>Francoué</td>
        <td>0</td>
      </tr>
      <tr>
        <td>Alan</td>
        <td>0</td>
      </tr>
      <tr>
        <td>Sly</td>
        <td>0</td>
      </tr>
      <tr>
        <td>James</td>
        <td>0</td>
      </tr>
      <tr>
        <td>Francoué</td>
        <td>0</td>
      </tr>
      <tr>
        <td>Alan</td>
        <td>0</td>
      </tr>
      <tr>
        <td>Sly</td>
        <td>0</td>
      </tr>
      <tr>
        <td>James</td>
        <td>0</td>
      </tr>
      <tr>
        <td>Francoué</td>
        <td>0</td>
      </tr>
      <tr>
        <td>Alan</td>
        <td>0</td>
      </tr>
      <tr>
        <td>Sly</td>
        <td>0</td>
      </tr>
    </tbody>
  </table>
</div>